# dependencies
node_modules
client/node_modules
server/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist
build

# environment variables
.env
.env.local

# system
.DS_Store